{% extends "layout.html"%} {% block title%} Register{% endblock %} {% block
body%}
<main class="login">
  <div class="form">
    <div class="form-1">
      <p>Register Form</p>
      <form action="/register" method="post" class="form2">
        <input
          autofocus
          autocomplete="off"
          id="input1"
          placeholder="Username"
          name="username"
          type="text"
        />
        <div class="password-box4">
          <input
            autocomplete="off"
            id="input"
            placeholder="Password"
            name="password"
            type="password"
          />
          <button
            type="button"
            id="toggle4"
            onclick="toggles('input', 'toggle4')"
          >
            👁️
          </button>
        </div>

        <div class="password-box5">
          <input
            autocomplete="off"
            id="input2"
            placeholder="Confirm Password"
            name="confirmation"
            type="password"
          />
          <button
            type="button"
            id="toggle5"
            onclick="toggles('input2', 'toggle5')"
          >
            👁️
          </button>
        </div>
        {% if error %}
        <span id="error">*{{ error }}</span>
        {% endif %}

        <button id="button" type="submit">Register</button>
      </form>
      <p id="Rlogin">Old user: <a class="navbar" href="./login">Login</a></p>
    </div>
  </div>
</main>

{% endblock %}
